
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Paneli</h1>

<br /><br />    

      <table style="table">
          <tr>
              <td><a asp-controller="Yazar" asp-action="Index" class="font-weight-bold">Yazar Bilgisi</a></td>
              <td></td>

          </tr>
          <tr>
              <td></td>
              <td></td>

          </tr>

      </table>